:root {
  --light-bg: #f0f0f0 ;
  --dark: #2e2e2e;
  --accent: #30a2ff;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: var(--light-bg)
}

#title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: var(--dark)
}